<div class="container rounded bg-white mt-5 mb-5">
  <div
    class="row"
    style="
      background-color: whitesmoke;
      border: 1px solid slategray;
      border-radius: 5px;
      box-shadow: 3px 3px 6px #00000029;
      height: 740px;
    "
  >
    <div
      class="col-md-3 border-right"
      style="
        justify-content: top;
        align-items: center;
        display: flex;
        flex-direction: column;
      "
    >
      <h4 class="text-right" style="margin-top: 50px">Unos fotografija</h4>
      <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
        <input
          id="upload"
          class="form-control border-0"
          type="file"
          name="files"
          multiple
          enctype="mulitpart/form-data"
          (change)="onChange($event)"
        />
      </div>
      <div *ngFor="let f of files">{{ f.name }}</div>
      <button *ngIf="!isPhotosUploaded"
        style="margin-top: 40px"
        (click)="onClick()"
        class="btn btn-outline-danger"
        type="button"
      >
        Dodajte fotorgafije
      </button>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right" style="margin-left: 200px">
            Specifikacija vozila
          </h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels">Marka</label>
            <select
              (change)="setModel($event)"
              class="form-control custom-select bg-white border-md"
            >
              <option>Izaberite marku</option>
              <option *ngFor="let mark of marks" value="{{ mark.markId }}">
                {{ mark.name }}
              </option>
            </select>
          </div>
          <div class="col-md-6">
            <label class="labels">Model</label>
            <select
              (change)="setSelectedModel($event)"
              class="form-control custom-select bg-white border-md"
            >
              <option>Izaberite model</option>
              <option *ngFor="let model of models" value="{{ model.modelId }}">
                {{ model.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <label class="labels">Godište</label>
            <input
              type="text"
              class="form-control"
              placeholder="Unesite godište vozila"
              [(ngModel)]="addVehicle.year"
            />
          </div>
          <div class="col-md-6">
            <label class="labels">Karoserija</label>
            <select
              (change)="setCarBody($event)"
              class="form-control custom-select bg-white border-md"
            >
              <option>Izaberite karoseriju</option>
              <option value="Limuzina">Limuzina</option>
              <option value="Karavan">Karavan</option>
              <option value="Hečbek">Hečbek</option>
              <option value="Džip">Džip</option>
              <option value="Kabriolet">Kabriolet</option>
            </select>
          </div>
          <div class="col-md-6">
            <label class="labels">Gorivo</label>
            <select
              (change)="setFuel($event)"
              class="form-control custom-select bg-white border-md"
            >
              <option>Izaberite gorivo</option>
              <option value="Dizel">Dizel</option>
              <option value="Benzin">Benzin</option>
            </select>
          </div>
          <div class="col-md-6">
            <label class="labels">Obeležje</label
            ><input
              type="text"
              class="form-control"
              placeholder="Unesite obeležje"
              [(ngModel)]="addVehicle.landMark"
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <label class="labels">Kubikaža</label
            ><input
              type="text"
              class="form-control"
              placeholder="Unesite kubikažu"
              [(ngModel)]="addVehicle.cubicCapacity"
            />
          </div>
          <div class="col-md-6">
            <label class="labels">Snaga u kW</label
            ><input
              type="text"
              class="form-control"
              [(ngModel)]="addVehicle.power"
              placeholder="Unesite snagu u kW"
            />
          </div>
          <div class="col-md-6">
            <label class="labels">Kilometraža</label
            ><input
              type="text"
              class="form-control"
              [(ngModel)]="addVehicle.mileage"
              placeholder="Unesite kilometražu"
            />
          </div>
          <div class="col-md-6">
            <label class="labels">Emisiona klasa motora</label>
            <select
              (change)="setEmissionClass($event)"
              class="form-control custom-select bg-white border-md"
            >
              <option>Izaberite emisionu klasu</option>
              <option value="Euro3">Euro3</option>
              <option value="Euro4">Euro4</option>
              <option value="Euro5">Euro5</option>
              <option value="Euro6">Euro6</option>
            </select>
          </div>
          <div class="col-md-6">
            <label class="labels">Pogon</label>
            <select
              (change)="setDrive($event)"
              class="form-control custom-select bg-white border-md"
            >
              <option>Izaberite pogon</option>
              <option value="Prednji">Prednji</option>
              <option value="Zadnji">Zadnji</option>
              <option value="4X4">4X4</option>
            </select>
          </div>
          <div class="col-md-6">
            <label class="labels">Menjač</label>
            <select
              (change)="setGearBox($event)"
              class="form-control custom-select bg-white border-md"
            >
              <option>Izaberite menjač</option>
              <option value="Manuelni">Manuelni</option>
              <option value="Automatski">Automatski</option>
            </select>
          </div>
          <div class="col-md-6">
            <label class="labels">Broj vrata</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="addVehicle.numberOfDoors"
              placeholder="Unesite broj vrata"
            />
          </div>
          <div class="col-md-6">
            <label class="labels">Broj sedišta</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="addVehicle.numberOfSeats"
              placeholder="Unesite broj sedišta"
            />
          </div>
        </div>
        <div class="mt-5 text-center">
          <button
            style="margin-top: 40px"
            (click)="onAddVehicle()"
            class="btn btn-outline-danger"
            type="button"
          >
            Dodajte vozilo
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="margin-top: 100px">
      <div class="col-md-6">
        <label class="labels">Klima</label>
        <select
          (change)="setAirConditioning($event)"
          class="form-control custom-select bg-white border-md"
        >
          <option>Izaberite klimu</option>
          <option value="Manuelna klima">Manuelna klima</option>
          <option value="Automatska klima">Automatska klima</option>
          <option value="Nema klimu">Nema klimu</option>
        </select>
      </div>
      <div class="col-md-6">
        <label class="labels">Boja</label>
        <select
          (change)="setColor($event)"
          class="form-control custom-select bg-white border-md"
        >
          <option>Izaberite boju</option>
          <option value="Bela">Bela</option>
          <option value="Siva">Siva</option>
          <option value="Crna">Crna</option>
          <option value="Plava">Plava</option>
          <option value="Crvena">Crvena</option>
        </select>
      </div>
      <div class="col-md-6">
        <label class="labels">Materijal enterijera</label>
        <select
          (change)="setInteriorMaterial($event)"
          class="form-control custom-select bg-white border-md"
        >
          <option>Izaberite materijal</option>
          <option value="Koža">Koža</option>
          <option value="Štof">Štof</option>
          <option value="Alkantara">Alkantara</option>
          <option value="Kombinovana koža">Kombinovana koža</option>
        </select>
      </div>
      <div class="col-md-6">
        <label class="labels">Cena</label
        ><input
          type="text"
          class="form-control"
          [(ngModel)]="addVehicle.price"
          placeholder="Unesite cenu"
        />
        <label class="labels">Broj motora</label
        ><input
          type="text"
          class="form-control"
          [(ngModel)]="addVehicle.engineNumber"
          placeholder="Unesite br motora"
        />
        <label class="labels">Broj šasije</label
        ><input
          type="text"
          class="form-control"
          [(ngModel)]="addVehicle.chassisNumber"
          placeholder="Unesite br šasije"
        />
      </div>
      <div class="col-md-11">
        <h3 style="margin-top: 10px">Sigurnost</h3>
        <input
          class="form-check-input"
          style="margin-left: 3px"
          type="checkbox"
          id="notifyMessages"
          [(ngModel)]="airbag"
        />
        <label class="form-check-label" style="margin-left: 3px">Airbag</label>
        <input
          class="form-check-input"
          style="margin-left: 3px"
          type="checkbox"
          id="notifyMessages"
          [(ngModel)]="codedKey"
        />
        <label class="form-check-label" style="margin-left: 3px"
          >Kodiran ključ</label
        >
        <input
          class="form-check-input"
          style="margin-left: 3px"
          type="checkbox"
          id="notifyMessages"
          [(ngModel)]="abs"
        />
        <label class="form-check-label" style="margin-left: 3px">ABS</label>
        <input
          class="form-check-input"
          style="margin-left: 3px"
          type="checkbox"
          id="notifyMessages"
          [(ngModel)]="esp"
        />
        <label class="form-check-label" style="margin-left: 3px">ESP</label>
        <input
          class="form-check-input"
          style="margin-left: 3px"
          type="checkbox"
          id="notifyMessages"
          [(ngModel)]="alarm"
        />
        <label class="form-check-label" style="margin-left: 3px">Alarm</label
        ><br />

        <h3 style="margin-top: 10px">Dodatna oprema</h3>

        <input
          class="form-check-input"
          style="margin-left: 3px"
          type="checkbox"
          id="notifyMessages"
          [(ngModel)]="metalic"
        />
        <label class="form-check-label" style="margin-left: 3px">Metalik</label>
        <input
          class="form-check-input"
          style="margin-left: 3px"
          type="checkbox"
          id="notifyMessages"
          [(ngModel)]="tempomat"
        />
        <label class="form-check-label" style="margin-left: 3px"
          >Tempomat</label
        >
        <input
          class="form-check-input"
          style="margin-left: 3px"
          type="checkbox"
          id="notifyMessages"
          [(ngModel)]="navigation"
        />
        <label class="form-check-label" style="margin-left: 3px"
          >Navigacija</label
        >
        <input
          class="form-check-input"
          style="margin-left: 3px"
          type="checkbox"
          id="notifyMessages"
          [(ngModel)]="alloyWheels"
        />
        <label class="form-check-label" style="margin-left: 3px"
          >Alu felne</label
        ><br />
        <input
          class="form-check-input"
          style="margin-left: 3px"
          type="checkbox"
          id="notifyMessages"
          [(ngModel)]="servo"
        />
        <label class="form-check-label" style="margin-left: 3px"
          >Servo volan</label
        >
        <input
          class="form-check-input"
          style="margin-left: 3px"
          type="checkbox"
          id="notifyMessages"
          [(ngModel)]="board"
        />
        <label class="form-check-label" style="margin-left: 3px"
          >Putni računar</label
        >
        <input
          class="form-check-input"
          style="margin-left: 3px"
          type="checkbox"
          id="notifyMessages"
          [(ngModel)]="electricWindows"
        />
        <label class="form-check-label" style="margin-left: 3px"
          >Električni podizači</label
        ><br />
        <input
          class="form-check-input"
          style="margin-left: 3px"
          type="checkbox"
          id="notifyMessages"
          [(ngModel)]="roofWindow"
        />
        <label class="form-check-label" style="margin-left: 3px">Šiber</label>
        <input
          class="form-check-input"
          style="margin-left: 3px"
          type="checkbox"
          id="notifyMessages"
          [(ngModel)]="camera"
        />
        <label class="form-check-label" style="margin-left: 3px">Kamera</label>
        <input
          class="form-check-input"
          style="margin-left: 3px"
          type="checkbox"
          id="notifyMessages"
          value="Kamera"
          [(ngModel)]="parkingSensors"
        />
        <label class="form-check-label" style="margin-left: 3px"
          >Parking senzori</label
        ><br />
        <input
          class="form-check-input"
          style="margin-left: 3px"
          type="checkbox"
          id="notifyMessages"
          [(ngModel)]="leatherSteeringVheel"
        />
        <label class="form-check-label" style="margin-left: 3px"
          >Kožni volan</label
        >
        <input
          class="form-check-input"
          style="margin-left: 3px"
          type="checkbox"
          id="notifyMessages"
          [(ngModel)]="startStop"
        />
        <label class="form-check-label" style="margin-left: 3px"
          >Start-stop</label
        >
        <input
          class="form-check-input"
          style="margin-left: 3px"
          type="checkbox"
          id="notifyMessages"
          [(ngModel)]="reserveWheel"
        />
        <label class="form-check-label" style="margin-left: 3px"
          >Rezervni točak</label
        >
        <input
          class="form-check-input"
          style="margin-left: 3px"
          type="checkbox"
          id="notifyMessages"
          [(ngModel)]="usb"
        />
        <label class="form-check-label" style="margin-left: 3px">USB</label>
      </div>
    </div>
  </div>
</div>
